/* You can add global styles to this file, and also import other style files */
.required::after {
  content: '*';
  color: red;
  font-style: initial;
}
.header-text {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
}

.pi {
  cursor: pointer;
}

.pi:hover {
  color: red;
  font-weight: 700;
}

.p-card .p-card-content {
  padding: unset !important;
}

.p-dialog .p-dialog-content {
  padding: 1rem 1rem 1rem 1rem !important;
}
.modal-md {
  height: auto;
  width: 50vw;
}

label {
  font-weight: 500;
}

app-manage-menu p-dialog .p-dialog .p-dialog-content {
  padding: unset !important;
  height: 90vh !important;
}
app-manage-menu p-dialog .p-dialog .p-dialog-header {
  padding: 5px 0px 0px 10px !important;
}
